.spritesheet {
    position: absolute; 
    z-index: 1;
    right: 0rem;
    width: 65rem;
    height: 70rem;
    background-image: url('/Users/tylerpierson/portfolio/public/img/tyler-spritesheet.png');
    background-repeat: no-repeat;
    animation: play 8s steps(1) infinite;
 }
 
 @keyframes play {
    0% { background-position: -15rem 0rem; }
    0.75% { background-position: -95rem 0rem; }
    1.5% { background-position: -175rem 0rem; }
    2.25% { background-position: -255rem 0rem; }
    3% { background-position: -335rem 0rem; }
    3.75% { background-position: -415rem 0rem; }
    4.5% { background-position: -495rem 0rem; }
    5.25% { background-position: -575rem 0rem; }
    6% { background-position: -655rem 0rem; }
    6.75% { background-position: -735rem 0rem; }
    7.5% { background-position: -815rem 0rem; }
    8.25% { background-position: -895rem 0rem; }
    9.75% { background-position: -15rem -80rem; }
    10.5% { background-position: -95rem -80rem; }
    11.25% { background-position: -175rem -80rem; }
    12% { background-position: -255rem -80rem; }
    12.75% { background-position: -335rem -80rem; }
    13.5% { background-position: -415rem -80rem; }
    14.25% { background-position: -495rem -80rem; }
    15% { background-position: -575rem -80rem; }
    15.75% { background-position: -655rem -80rem; }
    16.5% { background-position: -735rem -80rem; }
    17.25% { background-position: -815rem -80rem; }
    18% { background-position: -895rem -80rem; }
    19.5% { background-position: -15rem -160rem; }
    20.25% { background-position: -95rem -160rem; }
    21% { background-position: -175rem -160rem; }
    21.75% { background-position: -255rem -160rem; }
    22.5% { background-position: -335rem -160rem; }
    23.25% { background-position: -415rem -160rem; }
    24% { background-position: -495rem -160rem; }
    24.75% { background-position: -575rem -160rem; }
    25.5% { background-position: -655rem -160rem; }
    26.25% { background-position: -735rem -160rem; }
    27% { background-position: -815rem -160rem; }
    27.75% { background-position: -895rem -160rem; }
    29.25% { background-position: -15rem -240rem; }
    30% { background-position: -95rem -240rem; }
    30.75% { background-position: -175rem -240rem; }
    31.5% { background-position: -255rem -240rem; }
    32.25% { background-position: -335rem -240rem; }
    33% { background-position: -415rem -240rem; }
    33.75% { background-position: -495rem -240rem; }
    34.5% { background-position: -575rem -240rem; }
    35.25% { background-position: -655rem -240rem; }
    36% { background-position: -735rem -240rem; }
    36.75% { background-position: -815rem -240rem; }
    37.5% { background-position: -895rem -240rem; }
    39% { background-position: -15rem -320rem; }
    39.75% { background-position: -95rem -320rem; }
    40.5% { background-position: -175rem -320rem; }
    41.25% { background-position: -255rem -320rem; }
    42% { background-position: -335rem -320rem; }
    42.75% { background-position: -415rem -320rem; }
    43.5% { background-position: -495rem -320rem; }
    44.25% { background-position: -575rem -320rem; }
    45% { background-position: -655rem -320rem; }
    45.75% { background-position: -735rem -320rem; }
    46.5% { background-position: -815rem -320rem; }
    47.25% { background-position: -895rem -320rem; }
    48.75% { background-position: -15rem -400rem; }
    49.5% { background-position: -95rem -400rem; }
    50.25% { background-position: -175rem -400rem; }
    51% { background-position: -255rem -400rem; }
    51.75% { background-position: -335rem -400rem; }
    52.5% { background-position: -415rem -400rem; }
    53.25% { background-position: -495rem -400rem; }
    54% { background-position: -575rem -400rem; }
    54.75% { background-position: -655rem -400rem; }
    55.5% { background-position: -735rem -400rem; }
    56.25% { background-position: -815rem -400rem; }
    57% { background-position: -895rem -400rem; }
    58.5% { background-position: -15rem -480rem; }
    59.25% { background-position: -95rem -480rem; }
    60% { background-position: -175rem -480rem; }
    60.75% { background-position: -255rem -480rem; }
    61.5% { background-position: -335rem -480rem; }
    62.25% { background-position: -415rem -480rem; }
    63% { background-position: -495rem -480rem; }
    63.75% { background-position: -575rem -480rem; }
    64.5% { background-position: -655rem -480rem; }
    65.25% { background-position: -735rem -480rem; }
    66% { background-position: -815rem -480rem; }
    66.75% { background-position: -895rem -480rem; }
    68.25% { background-position: -15rem -560rem; }
    69% { background-position: -95rem -560rem; }
    69.75% { background-position: -175rem -560rem; }
    70.5% { background-position: -255rem -560rem; }
    71.25% { background-position: -335rem -560rem; }
    72% { background-position: -415rem -560rem; }
    72.75% { background-position: -495rem -560rem; }
    73.5% { background-position: -575rem -560rem; }
    74.25% { background-position: -655rem -560rem; }
    75% { background-position: -735rem -560rem; }
    75.75% { background-position: -815rem -560rem; }
    76.5% { background-position: -895rem -560rem; }
    78% { background-position: -15rem -640rem; }
    78.75% { background-position: -95rem -640rem; }
    79.5% { background-position: -175rem -640rem; }
    80.25% { background-position: -255rem -640rem; }
    81% { background-position: -335rem -640rem; }
    81.75% { background-position: -415rem -640rem; }
    82.5% { background-position: -495rem -640rem; }
    83.25% { background-position: -575rem -640rem; }
    84% { background-position: -655rem -640rem; }
    84.75% { background-position: -735rem -640rem; }
    85.5% { background-position: -815rem -640rem; }
    86.25% { background-position: -895rem -640rem; }
    87.75% { background-position: -15rem -720rem; }
    88.5% { background-position: -95rem -720rem; }
    89.25% { background-position: -175rem -720rem; }
    90% { background-position: -255rem -720rem; }
    90.75% { background-position: -335rem -720rem; }
    91.5% { background-position: -415rem -720rem; }
    92.25% { background-position: -495rem -720rem; }
    93% { background-position: -575rem -720rem; }
    93.75% { background-position: -655rem -720rem; }
    94.5% { background-position: -735rem -720rem; }
    95.25% { background-position: -815rem -720rem; }
    96% { background-position: -895rem -720rem; }
    97.5% { background-position: -15rem -800rem; }
    98.25% { background-position: -95rem -800rem; }
    99% { background-position: -175rem -800rem; }
    99.75% { background-position: -255rem -800rem; }
    100% { background-position: -335rem -800rem; }
 }