.spritesheet {
   position: absolute; 
   z-index: 1;
   right: 0rem;
   width: 65rem;
   height: 80rem;
   background-image: url('/Users/tylerpierson/portfolio/public/img/tyler-spritesheet.png');
   background-repeat: no-repeat;
   animation: play 8s steps(1) infinite;
}

@keyframes play {
   0% { background-position: -15rem 10rem; }
   10.75% { background-position: -95rem 10rem; }
   1.5% { background-position: -175rem 10rem; }
   2.25% { background-position: -255rem 10rem; }
   3% { background-position: -335rem 10rem; }
   3.75% { background-position: -415rem 10rem; }
   4.5% { background-position: -495rem 10rem; }
   5.25% { background-position: -575rem 10rem; }
   6% { background-position: -655rem 10rem; }
   6.75% { background-position: -735rem 10rem; }
   7.5% { background-position: -815rem 10rem; }
   8.25% { background-position: -895rem 10rem; }
   9.75% { background-position: -15rem -70rem; }
   10.5% { background-position: -95rem -70rem; }
   11.25% { background-position: -175rem -70rem; }
   12% { background-position: -255rem -70rem; }
   12.75% { background-position: -335rem -70rem; }
   13.5% { background-position: -415rem -70rem; }
   14.25% { background-position: -495rem -70rem; }
   15% { background-position: -575rem -70rem; }
   15.75% { background-position: -655rem -70rem; }
   16.5% { background-position: -735rem -70rem; }
   17.25% { background-position: -815rem -70rem; }
   18% { background-position: -895rem -70rem; }
   19.5% { background-position: -15rem -150rem; }
   20.25% { background-position: -95rem -150rem; }
   21% { background-position: -175rem -150rem; }
   21.75% { background-position: -255rem -150rem; }
   22.5% { background-position: -335rem -150rem; }
   23.25% { background-position: -415rem -150rem; }
   24% { background-position: -495rem -150rem; }
   24.75% { background-position: -575rem -150rem; }
   25.5% { background-position: -655rem -150rem; }
   26.25% { background-position: -735rem -150rem; }
   27% { background-position: -815rem -150rem; }
   27.75% { background-position: -895rem -150rem; }
   29.25% { background-position: -15rem -230rem; }
   30% { background-position: -95rem -230rem; }
   30.75% { background-position: -175rem -230rem; }
   31.5% { background-position: -255rem -230rem; }
   32.25% { background-position: -335rem -230rem; }
   33% { background-position: -415rem -230rem; }
   33.75% { background-position: -495rem -230rem; }
   34.5% { background-position: -575rem -230rem; }
   35.25% { background-position: -655rem -230rem; }
   36% { background-position: -735rem -230rem; }
   36.75% { background-position: -815rem -230rem; }
   37.5% { background-position: -895rem -230rem; }
   39% { background-position: -15rem -310rem; }
   39.75% { background-position: -95rem -310rem; }
   40.5% { background-position: -175rem -310rem; }
   41.25% { background-position: -255rem -310rem; }
   42% { background-position: -335rem -310rem; }
   42.75% { background-position: -415rem -310rem; }
   43.5% { background-position: -495rem -310rem; }
   44.25% { background-position: -575rem -310rem; }
   45% { background-position: -655rem -310rem; }
   45.75% { background-position: -735rem -310rem; }
   46.5% { background-position: -815rem -310rem; }
   47.25% { background-position: -895rem -310rem; }
   48.75% { background-position: -15rem -390rem; }
   49.5% { background-position: -95rem -390rem; }
   50.25% { background-position: -175rem -390rem; }
   51% { background-position: -255rem -390rem; }
   51.75% { background-position: -335rem -390rem; }
   52.5% { background-position: -415rem -390rem; }
   53.25% { background-position: -495rem -390rem; }
   54% { background-position: -575rem -390rem; }
   54.75% { background-position: -655rem -390rem; }
   55.5% { background-position: -735rem -390rem; }
   56.25% { background-position: -815rem -390rem; }
   57% { background-position: -895rem -390rem; }
   58.5% { background-position: -15rem -470rem; }
   59.25% { background-position: -95rem -470rem; }
   60% { background-position: -175rem -470rem; }
   60.75% { background-position: -255rem -470rem; }
   61.5% { background-position: -335rem -470rem; }
   62.25% { background-position: -415rem -470rem; }
   63% { background-position: -495rem -470rem; }
   63.75% { background-position: -575rem -470rem; }
   64.5% { background-position: -655rem -470rem; }
   65.25% { background-position: -735rem -470rem; }
   66% { background-position: -815rem -470rem; }
   66.75% { background-position: -895rem -470rem; }
   68.25% { background-position: -15rem -550rem; }
   69% { background-position: -95rem -550rem; }
   69.75% { background-position: -175rem -550rem; }
   70.5% { background-position: -255rem -550rem; }
   71.25% { background-position: -335rem -550rem; }
   72% { background-position: -415rem -550rem; }
   72.75% { background-position: -495rem -550rem; }
   73.5% { background-position: -575rem -550rem; }
   74.25% { background-position: -655rem -550rem; }
   75% { background-position: -735rem -550rem; }
   75.75% { background-position: -815rem -550rem; }
   76.5% { background-position: -895rem -550rem; }
   78% { background-position: -15rem -630rem; }
   78.75% { background-position: -95rem -630rem; }
   79.5% { background-position: -175rem -630rem; }
   80.25% { background-position: -255rem -630rem; }
   81% { background-position: -335rem -630rem; }
   81.75% { background-position: -415rem -630rem; }
   82.5% { background-position: -495rem -630rem; }
   83.25% { background-position: -575rem -630rem; }
   84% { background-position: -655rem -630rem; }
   84.75% { background-position: -735rem -630rem; }
   85.5% { background-position: -815rem -630rem; }
   86.25% { background-position: -895rem -630rem; }
   87.75% { background-position: -15rem -710rem; }
   88.5% { background-position: -95rem -710rem; }
   89.25% { background-position: -175rem -710rem; }
   90% { background-position: -255rem -710rem; }
   90.75% { background-position: -335rem -710rem; }
   91.5% { background-position: -415rem -710rem; }
   92.25% { background-position: -495rem -710rem; }
   93% { background-position: -575rem -710rem; }
   93.75% { background-position: -655rem -710rem; }
   94.5% { background-position: -735rem -710rem; }
   95.25% { background-position: -815rem -710rem; }
   96% { background-position: -895rem -710rem; }
   97.5% { background-position: -15rem -790rem; }
   98.25% { background-position: -95rem -790rem; }
   99% { background-position: -175rem -790rem; }
   99.75% { background-position: -255rem -790rem; }
   100% { background-position: -335rem -790rem; }
}