.Projects {
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .ProjectCard {
        position: relative;
        height: 40rem;
        width: 45%;
        border: .3rem solid var(--heading-color);
        background-color: rgba(100, 237, 207, 0.075);
        margin-bottom: 2.5rem;
        padding: 2rem;
        border-radius: 3rem;
        transition: .3s ease;
        color: grey;
        .mobileResponsive {
            position: absolute;
            top: 0;
            right: 50%;
            transform: translate(50%, -50%);
            text-align: center;
            background-color: var(--heading-color);
            color: grey;
            padding: .5rem 1rem;
            border-radius: 30px;
            width: 18rem;
        }
        .imgContainer {
            width: 100%;
            height: 80%;
            background-color: black;
            border: .1rem solid var(--heading-color);
            border-radius: 3rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .ProjectLogo {
                width: 90%;
            }
        }
        .ProjectDetails {
            text-align: center;
            h4 {
                font-size: 1.3rem;
                font-weight: bold;
                margin-top: 1rem;
            }
        }
        .ProjectLink {
            position: absolute;
            top: .5rem;
            right: .5rem;
            width: 2.7rem;
            filter: invert(.5);
            transition: .3s ease;
            &:hover {
                transition: .3s ease;
                filter: invert(1);
            }
        }
        .devContainer {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 1rem;
            .devTool {
                background-color: var(--heading-color);
                color: grey;
                padding: .5rem 1rem;
                border-radius: 30px;
            }
        }
        &:hover {
            transition: .3s ease;
            background-color: rgb(45, 51, 50);
            color: var(--heading-color);
        }
    }
}

@media (max-width: 1000px) {
    .Projects {
        flex-direction: column;
        align-items: center;
        .ProjectCard {
            width: 90%;
        }
    }
}

@media (max-width: 550px) {
    .Projects {
        .ProjectCard {
            .devContainer {
                display: none;
            }
        }
    }
}