/* Small devices (portrait tablets and large phones, 600px and up) */
.Bio {
    height: 60vh;
    width: 75%;
    margin: 0 auto;
    padding: 10rem 0 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .contentContainer {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        .title {
            font-size: 8.5rem;
            font-weight: 600;
            color: white;
        }
    }
    .titleDescription {
        color: grey;
        padding-left: 3rem;
        height: 60vh;
        font-size: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        transition: 1s ease;
        &:hover {
            color: var(--heading-color);
            transition: 1s ease;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Bio {
        padding: 0 2rem;
        width: 100vw;
        height: 15rem;
        background-color: rgb(100, 237, 207);
        .contentContainer {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 30%;
            .headingSM {
                font-size: 1.5rem;
            }
            .title {
                font-size: 2rem;
            }
        }
        .titleDescription {
            display: flex;
            justify-content: center;
            width: 70%;
            height: 100%;
            font-size: 1.3rem; 
            &:hover {
                color: black;
            }
        }
    }
}

