/* Small devices (portrait tablets and large phones, 600px and up) */
.Bio {
    height: 60vh;
    width: 100%;
    margin: 0rem;
    padding: 3rem 0 10rem;
    display: flex;
    background-color: var(--heading-color);
    justify-content: center;
    align-items: center;
    .contentContainer {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        .title {
            font-size: 12rem;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
        }
    }
    .titleDescription {
        color: grey;
        padding-left: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 4rem;
        transition: 1s ease;
        &:hover {
            color: var(--bg-color);
            transition: 1s ease;
        }
    }
}
@media (max-width: 1200px) {
    .Bio {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .contentContainer {
            height: 100%;
            justify-content: center;
            align-items: center;
            .title {
                font-size: 9rem;
            }
        }
        .titleDescription {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 800px) {
    .Bio {
        height: 40vh;
        padding: 0 0 1rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contentContainer {
            height: 100%;
            .title {
                font-size: 8rem;
            }
        }
        .titleDescription {
            font-size: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .Bio {
        height: 30vh;
        .contentContainer {
            text-align: center;
            .title {
                display: none;
            }
        }
        .titleDescription {
            font-size: 2.5rem;
        }
    }
}

