.AboutPage {
    display: flex;
    justify-content: center;
    margin: 12vh 2rem 0;
    height: 88vh;
    width: 100%;
    .textContainer {
        width: 50%;
        .bioContainer {
            background-color: rgba(100, 237, 207, 0.075);
            padding: 5rem;
            border-radius: 1rem;
            .bio {
                color: rgb(75, 75, 75);
            }
            .highlight {
                font-weight: bold;
                color: var(--heading-color);
                text-shadow: .5px .5px 1px black;
            }
            .bio, .highlight {
                width: 90%;
                line-height: 3rem;
                font-size: 1.3rem;
                margin: 3rem 0;
            }
        }
    }
    .image {
        transform: rotate(10deg);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    .AboutPage {
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow: visible;
        padding-bottom: 3rem;
        margin-top: 5vh;
        .textContainer {
            width: 100%;
        }
        .image {
            display: none;
            transform: rotate(0);
            width: 50%;
        }
    }
}