.AboutPage {
    display: flex;
    justify-content: center;
    margin: 12vh 2rem 0;
    height: 88vh;
    width: 100%;
    overflow: hidden;
    .textContainer {
        width: 50%;
        .bio {
            color: white;
        }
        .highlight {
            color: var(--heading-color);
        }
        .bio, .highlight {
            width: 90%;
            line-height: 3rem;
            font-size: 1.3rem;
            margin: 3rem 0;
        }
    }
    .image {
        transform: rotate(10deg);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    .AboutPage {
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow: visible;
        padding-bottom: 3rem;
        margin-top: 5vh;
        .textContainer {
            width: 100%;
        }
        .image {
            display: none;
            transform: rotate(0);
            width: 50%;
        }
    }
}