.Nav {
    width: 100%;
    height: 10vh;
    display: flex;

    .image {
        width: 10vw;
        margin-left: 2rem;
    }

    .ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .listItemContainer {
            height: 100%;
            width: 7vw;
            margin-left: 1rem;
            position: relative;

            .navItemTop, .navItemBottom {
                list-style-type: none;
                text-decoration: none;
                color: white;
                position: absolute;
                width: 100%;
                text-align: center;
                transition: transform 0.3s ease;
            }

            .navItemTop {
                top: 50%;
                transform: translateY(-50%);
                transition: .5s ease;
            }

            .navItemBottom {
                top: 50%;
                transform: translateY(50%);
                opacity: 0;
                transition: .5s ease;
            }

            &:hover {
                cursor: pointer;

                .navItemTop {
                    transform: translateY(-150%);
                    opacity: 0;
                    transition: .5s ease;
                }

                .navItemBottom {
                    transform: translateY(-50%);
                    opacity: 1;
                    transition: .5s ease;
                    color: var(--btn-color);
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    .Nav {
        display: none;
    }
}