.IntroContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    .mainContent {
        width: 70%;
        .heading, .subHeading {
            margin: 0 0 0 5rem;
        }
        .heading {
            color: white;
            font-size: 11rem;
            .spanText, .spanPlus {
                font-size: 11rem;
            }
            .spanText {
                font-weight: 100;
                color: var(--heading-color);
            }
            .spanPlus {
                color: black;
                font-size: 13rem;
            }
    }
    .headingSM {
        margin: 8rem 1rem;
        padding: .5rem;
    }
    }
    
    .subHeading {
        font-size: 3rem;
        color: grey;
        margin-top: 5rem;
        width: 50vw;
    }
    
    .image {
        background-color: black;
        width: 30vw;
        position: absolute;
        top: 4rem;
        right: 10rem;
        z-index: -1;
        transform: rotate(7deg);
    }
}
.SpriteContainer {
    position: relative;
    
    .SpriteAnimationMed {
        display: none;
    }
    .SpriteAnimationSm {
        display: none;
    }  
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (max-width: 1220px) {
    .IntroContainer {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .mainContent {
            width: 100%;
            height: 100%;
            .heading, .subHeading {
                margin: 0 0 0 5rem;
            }
            .heading {
                font-size: 9rem;
                .spanText, .spanPlus {
                    font-size: 9rem;
                }
                .spanPlus {
                    font-size: 9rem;
                }
            }
            .headingSM {
                margin: 2rem 1rem;
            }
        }
        .subHeading {
            font-size: 2rem;
            width: 60vw;
        }
        .image {
            width: 35vw;
            top: 4rem;
            right: 5rem;
        }
    }
    .SpriteContainer {
        width: 100%;
        height: 100%;
        .SpriteAnimation {
            display: none;
        }
        .SpriteAnimationMed {
            display: block;
        }
        .SpriteAnimationSm {
            display: none;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
    .IntroContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        .mainContent {
            margin-bottom: -15rem;
            .headingSM {
                margin: 4rem 1rem;
            }
            .heading, .subHeading {
                margin: 0 0 0 2rem;
            }
            .heading {
                font-size: 8rem;
                .spanText, .spanPlus {
                    font-size: 8rem;
                }
                .spanPlus {
                    font-size: 8rem;
                }
            }
            .subHeading {
                font-size: 1.5rem;
                width: 70vw;
            }
            .image {
                width: 40vw;
                top: 2rem;
                right: 2rem;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .IntroContainer {
        height: 100vh;
        .mainContent {
            margin-bottom: -25rem;
            .headingSM {
                margin: 2rem 1rem;
            }
            .heading, .subHeading {
                margin: 0 0 0 1rem;
            }
            .heading {
                font-size: 6rem;
                .spanText, .spanPlus {
                    font-size: 6rem;
                }
                .spanPlus {
                    font-size: 6rem;
                }
            }
            .subHeading {
                font-size: 1rem;
                width: 80vw;
            }
            .image {
                width: 50vw;
                top: 1rem;
                right: 1rem;
            }
        }
    }
    .SpriteContainer {
        width: 100%;
        height: 100%;
        .SpriteAnimation {
            display: none;
        }
        .SpriteAnimationMed {
            display: block;
        }
        .SpriteAnimationSm {
            display: none;
        }
    }
}
