.IntroContainer {
    height: 90vh;
    width: 100%;
    position: relative;
    .headingSM {
        margin: 8rem 0;
    }
    .heading {
        color: white;
        font-size: 11rem;
        .spanText, .spanPlus {
            font-size: 11rem;
        }
        .spanText {
            font-weight: 100;
            color: var(--heading-color);
        }
        .spanPlus {
            color: black;
            font-size: 13rem;
        }
    }
    
    .paragraph {
        color: grey;
        margin-top: 5rem;
        width: 50vw;
    }
    
    .image {
        background-color: black;
        width: 30vw;
        position: absolute;
        top: 4rem;
        right: 10rem;
        z-index: -1;
        transform: rotate(7deg);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    .IntroContainer {
        height: 50vh;
        width: 100%;
        padding: 0 2rem;
        margin: 3rem 0; 
        .headingSM {
            font-size: 1.4rem;
            color: white;
            margin: 2rem 0;
        }
        .heading {
            width: 100%;
            font-size: 9.5vw;
            .spanText {
                font-size: 9.5vw;
            }
            .spanPlus {
                font-size: 9.5vw;
            }
        }
        .paragraph {
            display: none;
        }
        .image {
            top: 0;
            right: 0;
            transform: rotate(0);
            width: 25rem;
        }
    }
}