.App {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 7vmin;
    color: var(--heading-color);
    text-shadow: 1px 1px 2px black;
}

input {
    width: 25vw;
    height: 3.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: 1rem;
    color: var(--input-color);
}

input:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--btn-color);
}

label {
    font-size: 2.3rem;
    padding: 1rem;
}

button {
    background-color: var(--btn-color);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    width: 50%;
    height: 4rem;
    transition: .3s ease;
    &:hover {
        cursor: pointer;
        background-color: rgba(120, 236, 211, 0.65);
        color: white;
        transition: .3s ease;
    }
}

button:hover {
    cursor: pointer;
}