.imgBannerContainer {
    background-color: var(--heading-color);
    height: 60vh;
    position: relative;
    overflow: hidden;
    .imgBanner {
        width: 100vw;
        position: absolute;
        transition: .8s ease;
        &:hover {
            transition: .8s ease;
            opacity: .9;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .imgBannerContainer {
        background-color: transparent;
        width: 100%;
        height: 35vh;
        .imgBanner {
            width: 100%;
        }
    }
}