.imgBannerContainer {
    background-color: white;
    height: 60vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    .title {
        position: absolute;
        right: 5rem;
        top: -5rem;
        font-size: 30rem;
    }
    .subTitle {
        color: rgba(128, 128, 128, 0.734);
        position: absolute;
        right: 5rem;
        top: 17rem;
        font-size: 10rem;
        line-height: -5rem;
    }
    .spritesheet {
        width: 25rem;
        height: 27rem;
        background-image: url('/Users/tylerpierson/software_projects/class-website/public/img/cap-walking-spritesheet.png');
        background-repeat: no-repeat;
        background-size: 80rem 80rem;
        animation: play 1s steps(1) infinite, slide 10s linear infinite;
        position: absolute;
        top: 72%;
        transform: translateY(-50%);
    }
     
    @keyframes play {
        0% { background-position: -5rem -5rem; }
        25% { background-position: -45rem -5rem; }
        50% { background-position: -5rem -45rem; }
        75% { background-position: -45rem -5rem; }
        100% { background-position: -5rem -5rem; }
    }

    @keyframes slide {
        0% { left: -20%; }
        100% { left: 100%; }
    }
}

@media (max-width: 1000px) {
    .imgBannerContainer {
        height: 50vh;
        .title {
            font-size: 25rem;
        }
        .subTitle {
            right: 2rem;
            top: 7rem;
            font-size: 15rem;
        }
        .spritesheet {
            top: 52%;
        }
    }
}

@media (max-width: 800px) {
    .imgBannerContainer {
        height: 45vh;
        .title {
            right: 2rem;
            top: -2rem;
            font-size: 18rem;
        }
        .subTitle {
            right: 2rem;
            top: 9rem;
            font-size: 10rem;
        }
        .spritesheet {
            top: 52%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
    .imgBannerContainer {
        height: 35vh;
        .title {
            right: 2rem;
            top: -2rem;
            font-size: 12rem;
        }
        .subTitle {
            right: 2rem;
            top: 6rem;
            font-size: 7rem;
        }
        .spritesheet {
            top: 52%;
        }
    }
}
