.bgDesign {
    position: absolute;
    bottom: -10%;
    left: 60%;
    height: 100vh;
    border-left: 2px solid var(--nav-border);
    width: 1px;
    transform: rotate(35deg);
}

.imgContainer {
    height: 50rem;
    width: 50rem;
    border-radius: 100%;
    background-color: cornflowerblue;
    padding: 3rem;
    overflow: hidden;
    position: relative;
    .Image {
        position: absolute;
        top: -3rem;
    }
}